.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 51px;
}

.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
}

.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

._btn-text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

._btn-active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

.filter__popup {
  min-width: 248px;
  background: #313131;
  border-radius: 12px;
  padding: 34px;
  position: fixed;
}

.filter__popup-item {
  max-height: 237px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  overflow: hidden;
  overflow-y: auto;
}

.filter__popup-item::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
  background-color: #4b4949;
}

.filter__popup-item::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
}

.popup-year {
  flex-direction: row;
  overflow: hidden;
}

.popup-year input[type='radio'] {
  display: none;
}

.popup-year label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}

.popup-year label::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: url('../../../public/img/icon/radio_disable.png') 0 0 no-repeat;
}

.popup-year input[type='radio']:checked + label:before {
  background: url('../../../public/img/icon/radio_active.png') 0 0 no-repeat;
}

.popup-year label:hover:before {
  filter: brightness(80%);
}

.container-author {
  margin-top: 353px;
  margin-left: 90px;
}

.container-year {
  margin-top: 134px;
  margin-left: 240px;
}

.container-genre {
  margin-top: 353px;
  margin-left: 387px;
}
