.playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.playlist__item {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}
